/* Formatting for t-shirts pages */
#main{width: 750px;background: #fff;padding: 0 5px;margin: 0 auto;}
#main a{text-decoration:none;color:navy;}
#main a:hover{text-decoration:underline;color:#0066CC;}
#main p{font:12px verdana;}
#main div{text-align:left;}
#t-shirts h1{font:18px verdana;text-align:left;color: #006699;line-height: 20px;font-weight: bold;margin: 0 0 10px 0px;}
#t-shirts h2{font:16px verdana;text-align:left;color: #006699;line-height: 15px;margin: 0 0 10px 0px; width:720px; clear:both;}
#t-shirts_list, #t-shirts_list_big{width: 100%;margin:0 0 0 0;padding:15px 10px 15px 10px;display:inline-block;}
#t-shirts_list li{font:12px verdana;list-style-type:none;text-align: center;float: left;width: 240px;height: 200px;margin:0 0 0 0px;}
#t-shirts_list_big li{font:16px verdana;list-style-type:none;text-align: center;float: left;width:360px; height:300px;margin:0 0 0 0px;}
#t-shirts_list li img{height: 145px;border:0;}
#t-shirts_list_big li img{width:250px; height:250px;border:0;}
#t-shirts_list li p, #t-shirts_list_big li p{height: 45px;padding: 5px 5px 5px 5px;margin: 0 0 0 0px;}
#t-shirts_list_big li p{font-size:16px;}
#category_list{width:100%;margin:0 0 0 0;text-align:left;float:left;padding:0 0 0 0;}
#content{width: 100%;margin: 0 0 0 10px;padding: 0 0 0 0;}
#content li{width:50%;float:left;	list-style-type:none;margin:0 0 15px 0;text-align: left;padding:0 0 0 0;}
#category_list li{font : bold 14px Verdana;color: #006699;text-align: left;padding: 5px;list-style-type:none;float: left;width: 350px;height: auto;margin:0 0 0 0px;}
#t-shirts h3{margin: 0 5px 0 5px;font: bold 11px Verdana;color: #006699;text-align: left;line-height: 15px;}
#description h2, #description p, #description h3{font: bold 11px Verdana;color: #006699;padding:0 0 0 0;margin: 0 0 0 0;display:inline;text-align: left;line-height: 15px;}
#Backlinks{width:750px;margin:2px 0 5px 0;padding:0;height:20px;}
#Backlinks a{font:12px verdana;color:navy;text-decoration:none;display:inline;margin:4px 0 10px 0;}
#Backlinks span{font:12px verdana;display:inline;margin:4px 5px 10px 5px;}
#Backlinks h1{font:18px verdana;text-align:left;color: #006699;font-weight: bold;display:inline;}
#Short, #Short2{height:100%; font:12px verdana; color:black; text-align:left; margin:0 10px 10px 5px; padding:5px 5px; border:2px #4384AB solid; background-color:#ECF9FF;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;-moz-box-shadow:  3px 3px 6px #666666;-webkit-box-shadow:  3px 3px 6px #666666;box-shadow:  3px 3px 6px #666666;}
#Short h3, #Short h2, #Short p, #Short2 h3, #Short2 h2, #Short2 p{font: 11px Verdana;color: black;padding:0 0 0 0;margin: 0 0 0 0;display:inline;text-align: left;line-height: 15px;}
#Full, #Full2{display:none; font:12px verdana; color:black; text-align:left;}
#Full h2, #Full h3, #Full2 h2, #Full2 h3{font:12px verdana; color:black; text-align:left;display:inline;}
/* Magazine Ad pages */
#ad_main, #ad_main2{
width: 594px;background: #fff;padding: 0 0px;margin: 0 0;}
#ad_main2{width: 440px;}
#ad_main a,#ad_main2 a, .shop a{text-decoration:none;color:navy;}
#ad_main a:hover, #ad_main2 a:hover, .shop a:hover{text-decoration:underline;color:navy;}
.shop{font: bold 14px/16px verdana;text-align:center;}
#ad_t-shirts_list, #ad_t-shirts_list2{width: 99%;margin:0 0 0 0;padding:15px 10px 15px 10px;display:inline-block;}
#ad_t-shirts_list li, #ad_t-shirts_list2 li{font:12px verdana;list-style-type:none;text-align: center;float: left;width: 190px;height: 210px;margin:0 0 0 0px;}
#ad_t-shirts_list2 li{width: 210px;}
#ad_t-shirts_list li img, #ad_t-shirts_list2 li img{height: 145px;border:0;}
#ad_t-shirts_list li p, #ad_t-shirts_list2 li p{height:50px;padding: 5px 5px 5px 5px;margin:0 0 0 0px;}
#Links a, a:visited{text-decoration:none;color: #000099;}
#Links a:hover{text-decoration:underline;}
#Mag_content, #advertorial{font: 13px verdana;color:black;padding:3px;border:0;}
#Mag_content img, #advertorial img{border:0;}
#Mag_content a, #advertorial a{text-decoration:none;color: #000099;}
#Mag_content a:hover, #advertorial a:hover{text-decoration:underline;}
#ad_hero{width:501px;height:747px;border:0;}
#ad_hero img{border:0;}
#left_hero{width:128px;height:500px;border:0;}
#left_hero img{border:0;}
#advertorial{width:100%; text-align:left}
#maglogo{float:left; width:342px; height:133px; display:inline-block;}
#maglogo p{margin:40px 0 0 0;}
#save{float:right; width:376px;display:inline-block}
#advertorial_content{border:2px #EDF3FF solid; padding:2px; height:500px; width:735px; margin:0 2px 0 0; display:inline-block;}
#leftbar{float:left; width:270px; height:500px; text-align:left; background-color:#EDF3FF;}
.checkit{margin:4px 4px;}
.browse{margin:15px 4px;}
.shop{text-align:center; margin:50px 4px 0 4px;}
.Ad_Excerpt{font:italic 12px verdana; margin:5px 10px; padding:5px; background-color:#D4E0FF;}
.Ad_Excerpt span{font:italic bold 13px verdana;}
#product{text-align:center; float:right; width:450px; height:500px}
#product p{margin:11px 0 0 0;}
/* Facebook landing page*/
/*#Facebook{border: 0;width: 591px;height: 875px;margin: 0 2px 10px 2px;padding: 0 0 0 0;background: url('/images/MainContent-Facebook-Movies.jpg') no-repeat;}*/
.FacebookLinks{width:270px; height:188px; float:left;}
.FacebookLinks ul{list-style-type:none; height:105px; font:11px verdana; color:#ffffff; margin:0 0 0 20px; padding:0 0 0 40px;}
.FacebookLinks ul li, .FacebookLinksRGT ul li{height:14px;}
.FacebookLinks a, .FacebookLinksRGT a{color:#ffffff; text-decoration:none;}
.FacebookLinks a:hover, .FacebookLinksRGT a:hover{text-decoration:underline;}
.FacebookLinksRGT{width:320px; height:188px; float:right;}
.FacebookLinksRGT ul{list-style-type:none; height:105px; font:11px verdana; color:#ffffff; margin:0 0 0 0px; padding:0 0 0 35px;}
/* Facebook banner */
#Facebook-stuff{width:758px; height:72px; background: #eceff5; margin:0 0 4px 0;text-align:center; display:inline-block; border: solid 1px #d8dfe1;}
#Facebook-stuff iframe.facebook{background:#eceff5;height:70px; width:268px; float:left; display:inline-block;padding:0 0px; border:0;}
#Facebook-stuff div#facebook-signup{background: url('images/home-page/Facebook-banner-like-80sTees.gif') no-repeat;float: right;display: inline-block;width: 475px;text-align: center;height: 72px;margin: 0;padding: 0;}
/* help, category, and other pages */
.tblstyle{border-style:none; width:100%; padding:5px;}
.tblstyle td{text-align:center; width:33%; font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;   color: #006699}
.tblstyle a{color: #000099;}
.tblstyle img{margin:10px; border-style:none;}
.pgbtmlnk{font: 13pt Verdana, Geneva, Arial, Helvetica, sans-serif;color: #006699;text-align: center;}
#MainContent_SC{margin-top: 2px;text-align: center;margin-right:5px}
.EXUV{color: #FF0000;font-weight: bold;font-size: 11px}
#h1style{margin: 0 0 0 5px;font: normal normal bold 18px Verdana, Geneva, Arial, Helvetica, sans-serif;color: #006699;text-align: left;}
.btmtxt{font : bold 10px/12px Verdana, Geneva, Arial, Helvetica, sans-serif;color: #006699;text-align: left;text-indent: 4px;}
.kmCategoryB{font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 14px;font-weight: bold;color: #000000;width: 50%;vertical-align:top}
.text p{font: 10pt Verdana;color: #000000;}
.text h1{font: normal normal bold 18px Verdana;color: #000000;}
.text h2{font: normal normal bold 20px Verdana;color: #000000;text-align:left;}
.text h3{font: normal normal bold 14px Verdana;color: #000000;text-align:left;}
.text h4{font: normal normal bold 13px Verdana;color: #000000;text-align:left;}
.text span{color: #000000;font: normal normal bold 14px Verdana;}
.text a{color: #000099;text-decoration:underline;}
.text a:visited{color: #000099;}
.text a:hover{color: #990000;}
.text td{font: 12px Verdana;color: #000000;}
.text img{border:0}
.text li{text-align: left;margin: 5px 30px 5px 5px;font: 12px Verdana;color: #000000;}
#bodytext{font : 12px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #006699}
#bodytext a{color: #000099;}
#bodytext a:link{text-decoration: none;}
#bodytext a:visited{text-decoration: none;}
#bodytext a:hover{text-decoration: underline; }
#bodytext h1{margin: 0 0 0 5px;font: normal normal bold 18px Verdana, Geneva, Arial, Helvetica, sans-serif;color: #006699;text-align: left;}
#bodytext h2{margin: 0 0 0 5px;font: normal normal bold 18px Verdana, Geneva, Arial, Helvetica, sans-serif;color: #006699;text-align: left;}
#bodytext h3{margin: 0 5px 0 5px;font: normal normal bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif;color: #006699;text-align: left;}
#bodytext h4{margin: 10px 0 -10px 0;font: normal normal bold 14px Verdana, Geneva, Arial, Helvetica, sans-serif;color: #006699;text-align: center;}
#bodytext h5{margin: 5px 0 5px 5px;font: normal normal bold 14px Verdana, Geneva, Arial, Helvetica, sans-serif;color: #006699;text-align: left;}
#bodytext table{border-style:none; width:100%; padding:5px;}
#bodytext td{text-align: center;width: 33%;font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;color: #006699;vertical-align: top;}
#bodytext img{margin:10px; border-style:none;}
#bodytext p{font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;color: #000000;text-align: left;margin: 5px 5px 5px 5px;text-indent: 15px;}
#bodytext b{color:black;}
#bodytext2{font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;color: #006699;text-align: left;padding: 8px;}	
#bodytext2 td{padding: 5px;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 14px;font-weight: bold;color: #000000;width: 50%;vertical-align: top;}
#bodytext2 span{font : 12px Verdana, Geneva, Arial, Helvetica, sans-serif;color: #000000;text-align: left;padding: 8px;}
#bodytext2 p{font : bold 14px/16px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #000000}
#bodytext2 a{color: #000099;}
#bodytext2 a:link{text-decoration: none;}
#bodytext2 a:visited{text-decoration: none;}
#bodytext2 a:hover{text-decoration: underline; }
#bodytext2 h1{margin: 0 0 0 5px;font: normal normal bold 18px Verdana, Geneva, Arial, Helvetica, sans-serif;color: #006699;text-align: left;}
#bodytext2 table{border-style:none; width:100%; padding:5px;}
#bodytext2 h4{margin-bottom: -1px;}
#bodytext2 h3{margin: 0 0 0 5px;font: normal normal bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif;color: #006699;text-align: left;}
#bodytext3{font : 10px Verdana, Geneva, Arial, Helvetica, sans-serif;color: #006699;text-align: left;padding: 5px;}	
#bodytext3 td{padding: 3px;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 10px;color: #000000;width: 33%;vertical-align: top;}
#bodytext3 span{font : bold 10px Verdana, Geneva, Arial, Helvetica, sans-serif;color: #000000;text-align: left;padding: 5px;}
#bodytext3 a{color: #000099;}
#bodytext3 a:link{text-decoration: none;}
#bodytext3 a:visited{text-decoration: none;}
#bodytext3 a:hover{text-decoration: underline; }
#bodytext3 table{border-style:none; width:100%; padding:3px;}
#bodytext3 h3{margin: 0 0 0 0;font: normal normal bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif;color: #006699;text-align: left;}
#bodytext3 li{font : 10px Verdana, Geneva, Arial, Helvetica, sans-serif;color: #000000;text-align: left;padding: 2px;}
#bodytext3  ul{list-style-type: none;padding-left: 0;margin-left: 0;}
#bodytext3 p{font : 10px Verdana, Geneva, Arial, Helvetica, sans-serif;color: #000000;text-align: left;padding: 2px;margin:0 0 0 0}
#bodytext4 a{color: #000099;text-decoration: underline;}
#bodytext4 a:link{text-decoration: underline;}
#bodytext4 a:visited{text-decoration: underline;}
#bodytext4 a:hover{ text-decoration: underline; color: #990000;}
#bodytext4  table{text-align: left;vertical-align: top;border: 0;padding: 7px;margin: 0 0 0 5px;width: 100%;}
#bodytext4  td{font: normal normal bold 13pt Verdana;text-align: left;width: 50%;}
#bodytext4  li{font: 10pt Verdana;margin-bottom: 10px;margin-top: 10px;}
#bodytext4  ul{list-style-type: none;padding-left: 0;margin-left: 0;}
#bodytext4 h2{margin: 0 0 0 5px;font: normal normal bold 20px Verdana, Geneva, Arial, Helvetica, sans-serif;color: #006699;text-align: left;}
#PUB p{text-align:left; margin: 0 0 0 0;font-size:12px}
#PUB table{width: 100%; margin: 0; padding: 10px; border: 0;}
#PUB img{margin:10px; border-style:none;}
#PUB td{vertical-align:top; text-align:center}
#PUB h1{margin: 0 0 0 5px;font: normal normal bold 18px Verdana, Geneva, Arial, Helvetica, sans-serif;color: #000000;text-align: left;}
#PUB h2{margin: 4px 0 0 10px;font: normal normal bold 12px Verdana, Geneva, Arial, Helvetica, sans-serif;color: #006699;text-align: left;}
#PUB a{color: #000099;}
#PUB a:link{text-decoration: underline;}
#PUB a:visited{text-decoration: underline;}
#PUB a:hover{text-decoration: underline; color: #990000;}
/* Halloween Costume pages */
#buyit span{margin:0 0 0 0;padding:4px 24px 0 24px;text-indent:0px;}
#buyit span img{margin:4px 0 0 0;padding:0 0 0 0;}
#buyitlinks img{margin:0 0 0 4px;}
#buyitlinks p{margin: 5px 0 5px 0;}
#buyitlinks .indent{margin: 5px 0 5px 7px;text-indent:0;}
#SideNav div a, a:visited{text-decoration:underline;color: #0000FF;}
#SideNav div a:hover{text-decoration:underline;}
/* Feedback pages */
#survey-list{width: 100%;margin:0 0 0 0;padding:10px 10px 10px 10px;display:inline-block;list-style-type:none;}
#survey-list li{font:16px verdana;text-align:left; width: 100%;height: auto;margin:6px 0 0 50px; padding:0 0 0 0;}
#survey-list li p{font:14px verdana; padding: 0 0 0 0; margin:0 0 0 0;}
#survey-list li p{height: 15px;padding: 5px 5px 5px 5px;margin: 0 0 0 0px;}
