.bodyformat{
	margin:0 0 0 0; 
	background-color:#006699
}
.Footer {
  font: 10pt Verdana;
  color: #000000;
  font-weight: bold;
}
.ss {
  font: 12pt Verdana;
  color: #000000;
  font-weight: bold;
  font-style:italic;  
}
.ss a {
  font: 12pt Verdana;
  color: #000000;
  font-weight: bold;
  font-style:italic;
  text-decoration: none;
}

.AltFont1 {
  font: 10pt Verdana;
  color: #000000;
}

.AltFont2 {
  font: 10pt Verdana;
  color: #000000;
}

.Content_Small {
  font: 7.5pt Verdana;
  color: #000000;
}

.Content_Large {
  font: 13.5pt Verdana;
  color: #000000;
}

.ECheck {
  font: 10pt Verdana;
  color: #000000;
}

.ECheck2 {
  font: 7.5pt Verdana;
  color: #000000;
}

.Error {
  font: 12pt Verdana;
  color: #FF0000;
}
.h1 {
  font: 9pt Verdana;
  color: #000000;
}

.Middle_Top_Banner_Small {
  font: 10pt Verdana;
  color: #000000;
}

.ContentBar_Small {
  font: 7.5pt Verdana;
  color: #000000;
}

.TopBanner_Large {
  font: 12pt Verdana;
  color: #000000;
}


h1 {
  font: 13.5pt Verdana;
  color: #000000;
  font-weight: bold;
}

.tdbackgrnd {
  background-color: #FFFFFF;
}

.tdTopBanner {
  font: 13.5pt Verdana;
  color: #000000;
  background-color: #FFFFFF;
  font-weight: bold;
}

.tdTopBanner2 {
  background-color: #FFFFFF;
}

.tdMiddleTopBanner {
  font: 13.5pt Verdana;
  color: #1446a7;
  background-color: #FFFFFF;
  font-weight: bold;
}

.tdBottomTopBanner {
  font: 10pt Verdana;
  color: #000000;
  background-color: #FFFFFF;
}

.tdBottomTopBanner2 {
  font: 10pt Verdana;
  color: #000000;
  background-color: #FFFFFF;
}

.tdContent {
  background-color: #FFFFFF;
}

.tdContent2 {
  background-color: #FFFFFF;
}

.tdContent3 {
  background-color: #FFFFFF;
}

.tdContentBar {
  font: 10pt Verdana;
  color: #000000;
  background-color: #FFFFFF;
  font-weight: bold;
}

.tdFooter {
  font: 10pt Verdana;
  color: #000000;
  background-color: #FFFFFF;
  font-weight: bold;
}

.tdAltFont1 {
  font: 10pt Verdana;
  color: #000000;
  background-color: #FFFFFF;
}

.tdAltFont2 {
  font: 10pt Verdana;
  color: #000000;
  background-color: #FFFFFF;
}

.tdAltBG1 {
  background-color: #FFFFFF;
}

.tdAltBG2 {
  background-color: #FFFFFF;
}

body,td {font: 10px Verdana, Geneva, Arial, Helvetica, sans-serif;  color: #000000;}

.carttotals {
	font : bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: underline;
}

.carttotals a:hover{
text-decoration: underline;}


.formtext {font : 11px Verdana, Geneva, Arial, Helvetica, sans-serif;}

.bodytext {font : 12px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #006699}
.bodytext a{color: #000099;}

.boxtext {font : 11px Verdana, Geneva, Arial, Helvetica, sans-serif; margin:4px;}
.boxtext a{color: #000099;}

.bestsellersprice {font : bold 11px/11px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #ff0000}
.bestsellersprice a:hover{  text-decoration:underline;}

.bestsellerspricelist {font : 11px/11px Verdana, Geneva, Arial, Helvetica, sans-serif;}

.formtext {font : 11px Verdana, Geneva, Arial, Helvetica, sans-serif;}

.featureditem {font : bold 12px/16px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #993300; margin-left:5px; margin-right:5px;}
.featureditem a{color: #993300;}

.footer {font : 11px/14px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #ffffff;}
.footer a{color: #ffffff; TEXT-DECORATION: underline}
.footer a:hover{color: #ffffff; TEXT-DECORATION: none}
.footer a:visited{color: #ffffff; TEXT-DECORATION: underline}

.topnav {font : bold 11px/14px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #ccffff; vertical-align: middle;
}
.topnav a{font : 11px/14px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #ffffff; TEXT-DECORATION: none; vertical-align:middle;
font-weight: bold;}
.topnav a:hover{font : 11px/14px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #ffffff; TEXT-DECORATION: underline; vertical-align:middle;
font-weight: bold;}
.topnav a:visited{font : bold 11px/14px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #ffffff; vertical-align: middle;
}
.topnav1 {font: bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #ccffff; line-height:18px;
}
.topnav1 a{font: bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #ffffff; TEXT-DECORATION: none; 
}
.topnav1 a:hover{font: bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #ffffff; TEXT-DECORATION: underline; 
}
.topnav1 a:visited{font : bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #ffffff; TEXT-DECORATION: none;
}


#navBar a:link, #navbar a:link{font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #000000; text-decoration: none;}
#navBar a:visited, #navbar a:visited{font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #000000; text-decoration: none;}
#navBar a:hover, #navbar a:hover{font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #000000; text-decoration: underline;}
#navBar a:active, #navbar a:active{font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #000000;  text-decoration: none; }

.footernav {font : 11px/14px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #006699; text-align:left;}
.footernav a{color: #ffffff; TEXT-DECORATION: underline}
.footernav a:hover{color: #ffffff; TEXT-DECORATION: none}
.footernav a:visited{color: #ffffff; TEXT-DECORATION: underline}

.formcat {font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;}
.formsearch {font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;  width : 80px; }

.greybeard {font : 10px/12px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #cccccc;}
.greybeard a{color: #cccccc; TEXT-DECORATION: underline}
.greybeard a:hover{color: #ffffff; TEXT-DECORATION: none}

.headlines {font : bold 14px/16px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #006699}
.headlines a{color: #0000ff;  text-decoration: underline;}
.headlines a:hover {color: #0000ff;  text-decoration: none;}

.headline2 {font : bold 16px/16px Verdana, Geneva, Arial, Helvetica, sans-serif;}
.headline3 {font : bold 14px/14px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #000099;}
.headline3 a{color: #000099; TEXT-DECORATION: underline}
.headline3 a:hover{color: #000099; TEXT-DECORATION: none}
.headline3nu {font : bold 14px/14px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #000099;}
.headline3nu a{color: #000099; TEXT-DECORATION: none}
.headline3nu a:hover{color: #000099; TEXT-DECORATION: none}
.headline4 {font : bold 12px/14px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #000099;}
.headline4 a{color: #000099; TEXT-DECORATION: underline}
.headline4 a:hover{color: #000099; TEXT-DECORATION: none}

.Sep2 {margin-top: 2px;}
.Sep5 {margin-top: 5px;}
.Sep10 {margin-top: 10px;}
.Sep15 {margin-top: 15px;}
.specialsprice {font : 11px/11px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #006699}
.specialsprice a:hover{  text-decoration:underline;}
.status {font : bold 10px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #000099;}
.status a{color: #000099;}

.desc  {
 visibility : hidden;
 left  : 0px;
 top : 0px;
 position :  absolute;
}


.kmCategory {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}
.Content_SmallBoldBlue {

  font: 900 7.5pt Verdana;
  color: #0033FF;
}


.catStyle
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0000FF;
	font-weight: bolder;
	text-align:left;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 3px;
	margin-right: 3px;
}
.catStyle a:visited
{
	color: #0000FF;
}
.catStyle a:hover
{
background-color:#CCFFFF
}

.catStyle1
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #0000FF;
	font-weight: normal;
	text-align: left;
	margin-bottom: 1px;
	margin-top: 1px;
	margin-left: 15px;
	margin-right: 1px;
}
.catStyle1 a:visited
{
	color: #0000FF;
}
.catStyle1 a:hover
{
background-color:#CCFFFF;
}

.catStyle2
{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #0000FF;
	font-weight: bolder;
	text-align:center;
}
.catStyle2 a:visited
{
	color: #0000FF;
}
.catStyle2 a:hover
{
background-color:#CCFFFF
}
.catStyle3
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0000FF;
	font-weight: bolder;
	text-align:left;
	margin-bottom: 4px;
	margin-top: 4px;
	margin-left: 2px;
	margin-right: 2px;
}
.catStyle3 a:visited
{
	color: #0000FF;
}
.catStyle3 a:hover
{
background-color:#CCFFFF
}
.catStyle4
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	text-align:left;
	margin-bottom: 4px;
	margin-top: 4px;
	margin-left: 15px;
	margin-right: 3px;
}
.catStyle4 a:visited
{
	color: #0000FF;
}
.catStyle4 a:hover
{
background-color:#CCFFFF
}
.catStyle5
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0000FF;
	text-align:left;
	margin-bottom: 4px;
	margin-top: 4px;
	margin-left: 4px;
	margin-right: 2px;
}
.catStyle5 a:visited
{
	color: #0000FF;
}
.catStyle5 a:hover
{
background-color:#CCFFFF;
}
.catStyle6
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0000FF;
	font-weight: bolder;
	text-align:left;
	margin-bottom: 4px;
	margin-top: 4px;
	margin-left: 4px;
	margin-right: 2px;
}
.catStyle6 a:visited
{
	color: #0000FF;
}
.catStyle6 a:hover
{
background-color:#CCFFFF;
}

.catStyle7 
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bolder;
	text-align:left;
	margin-bottom: 4px;
	margin-top: 4px;
	margin-left: 10px;
	margin-right: 2px;
}

.catStyle7 a:hover
{
background-color: #FFCC00;
}
.catStyle8 
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align:left;
	margin-bottom: 4px;
	margin-top: 4px;
	margin-left: 40px;
	margin-right: 2px;
}
.catStyle8 a:hover
{
background-color: #FFCC00;
}

.catStyle9
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0000FF;
	font-weight: bolder;
	text-align:left;
	margin-bottom: 4px;
	margin-top: 4px;
	margin-left: 12px;
	margin-right: 2px;
}
.catStyle9 a:visited
{
	color: #0000FF;
}
.catStyle9 a:hover
{
background-color:#CCFFFF
}

.catStyle10
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0000FF;
	font-weight: bolder;
	text-align:left;
	margin-bottom: 4px;
	margin-top: 4px;
	margin-left: 4px;
	margin-right: 0px;
}
.catStyle1 a:visited
{
	color: #0000FF;
}
.catStyle1 a:hover
{
background-color:#CCFFFF;
}
.ppdiv
{
	display:none;
}
.kmHeaderSearchbox {
	height: 26px;
	width: 170px;
	clear: left;
	float: right;
	border-color: #0066CC;
	border-width: 3px 0px 2px 0px;
	border-style: solid;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	color: #006699;
	padding-left: 3px;
	padding-top: 2px;
}

.SBrandHeader {
	height: 40px;
	width: 760px;
	border-style: solid;
	border-color: black;
	border-width: 0px;
	text-align: center;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	color: #006699;
}

.LeftPadding20
{
	padding-left: 20;	
}

#emailSignup{
	background-image: url(Images/EmailSignupPixel.gif);
	background-repeat: repeat;
	text-align: center;
	width: 152px;
	height: 155px;
	overflow: hidden;
	font-size: 0; line-height: 0;
	margin: 0;
	padding: 0;
}

#emailSignup .emailtextbox { 
 color: blue; 
 text-align: left;
 font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
 font-size: 10px;
 width: 140px;
 border: solid;
 border-color: white;
 border-width: 2px;
} 
#catStyle80
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0000FF;
	font-weight: bolder;
	text-align:left;
	margin-bottom: 0px;
	margin-top: 2px;
	margin-left: 4px;
	margin-right: 2px;
	height:14px;
	}
#catStyle80 img{
	border:0;
	margin:0 0 0 0;
	padding:0 0 0 0;
}
#catStyle80 a:visited
{
	color: #0000FF;
}
#catStyle80 a:hover
{
background-color:#CCFFFF;
}
#catStyle80 span, #catStyle80 span a{
	vertical-align: top;
	height: 11px;
	margin: 0 0 3px 2px;
}

