<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"  
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		 id="vr-web" version="2.5">
	<context-param>
		<param-name>Password</param-name>
		<param-value>through@pass</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>rating</servlet-name>
		<servlet-class>org.felix.web.servlet.RatingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>userStudy</servlet-name>
		<servlet-class>org.felix.web.servlet.TShirtServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>rating</servlet-name>
		<url-pattern>/rating</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>userStudy</servlet-name>
		<url-pattern>/userStudy</url-pattern>
	</servlet-mapping>

</web-app>